.x {
  background-image: url('/assets/photo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body {
  background-color: rgb(216, 212, 212);
}
#home-container {
  margin-top: 25px;
}
.ml {
  margin-left: 13.5rem;
}
.tac {
  margin-left: 22em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.ml2 {
  margin-top: 10px ;
  margin-left: 47.5em;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px;
   }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {

    border: 1px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: grey;
      background: whitesmoke;
      color: grey; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }