.x {
  background-image: url('/assets/photo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body {
  background-color: rgb(216, 212, 212);
}
#home-container {
  margin-top: 25px;
}
.ml {
  margin-left: 13.5rem;
}
.tac {
  margin-left: 22em;
}